@using Microsoft.AspNetCore.Identity
@using Domain.Models
@using Domain.DataAccess
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var userType = UserType.User;

    if (User.Identity.Name != null)
    {
        if (UserManager.FindByNameAsync(User.Identity.Name).Result != null)
        {
            userType = UserManager.FindByNameAsync(User.Identity.Name).Result.UserType;
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="container">
            <div>
                <a asp-action="Index" asp-controller="Books" class="navbar-brand">
                    Магазин книг
                </a>
                @if (userType == UserType.Admin)
                {
                    <a asp-controller="Admin" asp-action="Index" class="navbar-brand" style="font-size: 14px">Админ панель</a>
                }
                @if(SignInManager.IsSignedIn(User))
                {
                    <a asp-controller="Account" asp-action="UserBooks" class="navbar-brand" style="font-size: 14px">Мои книги</a>
                }

            </div>


            <partial name="_LoginPartial" />
        </div>


    </nav>
    <div class="content">
        <div class="container">
            @RenderBody()
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
